<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Patient</title>

    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <form th:action="@{/prescription/add/find-patient}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="nik" placeholder="Enter patient NIK" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
