<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Add Prescription</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Add Prescription</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <div>
                        <form th:action="@{/prescription/add/{idPatient}(idPatient=${addPrescriptionRequestDTO.patient.id})}" th:object="${addPrescriptionRequestDTO}" method="POST">
                            <input type="hidden" th:field="*{patient.id}" />
                            <div class="row my-3">
                                <label for="patient-name" class="col-sm-2 fw-bold col-form-label">Patient Name</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="patient-name" th:field="*{patient.name}" readonly/>
                                </div>
                            </div>
                        
                            <div class="form-group column my-3">
                                <label for="medicines" class="col-sm-2 fw-bold col-form-label">Medicines: </label>
                                <table class="table">
                                    <th class="d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit" name="addRow">Add Medicine</button>
                                    </th>
                                    <tr th:each="medicineQuantity, iterStat : ${addPrescriptionRequestDTO.medicineQuantityList}">
                                        <td>
                                            <select th:field="*{medicineQuantityList[__${iterStat.index}__].medicine.id}" class="form-control">
                                                <option value="" disabled selected>Select Medicine...</option>
                                                <option th:each="med : ${listMedicine}" th:value="${med.id}" th:text="${med.name}"></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" th:field="*{medicineQuantityList[__${iterStat.index}__].quantity}" class="form-control" placeholder="Quantity" />
                                        </td>
                                        <td>
                                            <button th:value="${iterStat.index}" class="btn btn-danger" type="submit" name="deleteRow">Delete</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        
                            <div class="text-center m-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-secondary" href="/">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>