<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prescription Response</title>

    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h3 class="card-title text-primary mb-4">Prescription</h3>
                        <p class="card-text lead" th:text="${responseMessage}"></p>                        
                        <div class="mt-4">
                            <a href="/prescription" class="btn btn-outline-primary btn-sm">View All Prescriptions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>

</html>
